

    <div class="container">
      <nav class="navbar navbar-light navbar-expand-lg bg-warning">
        <a href="#" class="navbar-brand">AutoNotes</a>
        <button class="navbar-toggler" type="button" data-target="#my-nav" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          {{#if isHome}}
          <li class="nav-item active"><a class="nav-link" href="/">Главная</a></li>
          {{else}}
          <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
          {{/if}}
          <li class="nav-item"><a class="nav-link" href="/orders">Заказы</a></li>
          {{#if isAddOrder}}
          <li class="nav-item active"><a class="nav-link" href="/addorder">Добавить заказ</a></li>
          {{else}}
          <li class="nav-item"><a class="nav-link" href="/addorder">Добавить заказ</a></li>
          {{/if}}
          {{#if isAddContact}}
          <li class="nav-item active"><a class="nav-link" href="/contacts">Контакты</a></li>
          {{else}}
          <li class="nav-item"><a class="nav-link" href="/contacts">Контакты</a></li>
          {{/if}}
          {{#if isAuth}}
          <li class="active"><a class="nav-link" href="/auth/logout">Выйти</a></li>
          {{else}}

          {{#if isLogin}}
          <li class="active"><a class="nav-link" href="/auth/login#login">Вход</a></li>
          {{else}}
          <li class="nav-item"><a class="nav-link" href="/auth/login#login">Вход</a></li>
          {{/if}}
          {{/if}}
        </ul>
      </div>
      </nav>
    </div>
  