<div class="container-fluid">
<h2>Заказы клиента</h2>
<p>Информация о клиенте: Имя - {{contact.name}} | Телефон - {{contact.phone}} | Машина - {{contact.model}} | </p>
<p>таблица с заказами:</p>
<div class="row-list">
   <table class="table table-hover table-bordered tb-style">
      <tr>
         <th>Дата</th>
         <th>Детали заказа</th>
         <th>Статус</th>
         <th>Состояние</th>
      </tr>
      {{#each orders}}
      <tr id="contact-tr" class="row-list">
         <td><span class="date">{{created}}</span></td>
         <td>
            {{# each parts}}
            <div class="parts">{{partname}} {{selectside}} {{selectplace}} {{countpart}}
               <span>
                  <ol>
                     {{# each variant}}
                     <li>{{number}}&nbsp; {{manufacturer}} {{ provider}} {{purchaseprice}}{{sellingprice}}</li>
                     {{/each}}
                  </ol>
               </span>
            </div>
            {{/each}}
         </td>
         <td><span>{{status}}</span></td>
         <td><span>{{state}}</span></td>
      </tr>
   {{/each}}
   </table>
</div>
</div>