<div class="container-fluid">
   <div class="row">
      <div class="col-lg-9">
         <h1>Редактирование заказа</h1>
         
         <!-- блок куда выводится ин-ия о клиенте-->
         <div class="contact-result">
            <p id="contact-result">Клиент: {{order.idContact}}</p>
            <p id="contact-id">Номер: {{order.id}}</p>
         </div>
         <!-- форма для отправки ин-ии о заказе-->
         <form action="/orders/edit" method="POST" class="form-addorder" id="myForm">
            <div class="contact-data hide ">
               <input type="text" name="idcontact" value={{order.idContact}}>
               <input type="hidden" name="id" value="{{order.id}}">
            </div>
            <div>Дата: <input type="date" id="start" name="start">
               Примечание: <input type="text" name="desc" value="{{order.desc}}">
            </div>
            <hr>
            <div>
               <select name="status">
                  <option value="{{order.status}}">{{order.status}}</option>
                  <option value="Черновик">Черновик</option>
                  <option value="В работе">В работе</option>
                  <option value="Архив">Архив</option>
               </select>

               <select name="state">
                  <option value="получена заявка">получена заявка</option>
                  <option value="подготовка вариантов">подготовить варианты</option>
                  <option value="связаться для согласования">связаться для согласования</option>
                  <option value="отправить черновик">отправить черновик</option>
                  <option value="не отвечает, связаться ещё раз">не отвечает, связаться ещё раз</option>
                  <option value="принимает решение">принимает решение</option>
                  <option value="окончательное согласование">окончательное согласование</option>
                  <option value="успешный заказ">успешный заказ</option>
                  <option value="отказ">отказ</option>
               </select>

            </div>
            <!--заготовка под список добавляемых запчастей-->

            <ol id="parts-list" data-partsplace>
               !!!!!!!
              <div class="form-row">!!!!!!!!!!!
                 <li class="part-item">
                    <input type="text" value="" name="partname">
                 </li>

              </div> 
             
            </ol>


            <button type="button" name="button">Сохранить</button>
         </form>
         <div><button type="button" name="btn-summa">Сумма отмеченных</button><input type="number" class="summabuy"
               placeholder="сумма закупки"> <input type="text" class="summasell" placeholder="сумма продажи"></div>
      </div>

      <div class="col-lg-3">
         <div id="popup-part" class="menu-parts">
            <div>
               <h4> Меню с деталями</h4>
            </div>
            {{> menuparts}}
         </div>
      </div>
   </div>
   <div id="popup-search-contact" class="popup hide-popup">
      <div class="popup-content">
         <div class="popup-header">
            <h3 class="modal-h3"> Окно для выбора существующих контактов</h3>
            <span class="close modal-close"> &times;</span>
         </div>
         <div class="row-modal-search">
            <div>
               <label for="name-search">Поиск: </label>
               <input id="name-search" name="title" type="text" placeholder="Начните вводить имя или телефон">
            </div>
            <hr />
            <table id="result" class="tb-style items-search hide"></table>
            <div class="row-list">

               <table class="tb-style items-search">
                  <tr>
                     <th>Имя</th>
                     <th>Телефон</th>
                     <th>Автомобиль</th>
                     <th>Год</th>
                     <th>Примечание</th>
                  </tr>
                  <tr id="result" class="hide"></tr>
                  {{#each contacts}}
                  <tr id="contact-tr" class="row-list">
                     <td data-id="{{id}}">{{name}}</td>
                     <td>{{phone}}</td>
                     <td>{{model}}</td>
                     <td>{{year}}</td>
                     <td>{{descContact}}</td>
                  </tr>
                  {{/each}}
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- модальное окно добавления нового контакта -->
   <div id="popup-new-contact" class="popup hide-popup">
      <div class="popup-content">
         <div class="popup-header">
            <h3 class="modal-h3"> Добавить новый контакт: </h3>
            <span class="close modal-close"> &times;</span>
         </div>
         <div class="form-modal-model">
            {{!-- <div class="row-modal-model"> --}}
            <!--Форма добавления нового контакта-->
            <form action="/addorder/newcontact" method="post" class="form-new-contact">
               <!--<label for="model">Имя: </label>-->
               <input type="text" name="name" id="name" placeholder="Имя">
               <input type="text" name="phone" placeholder="Телефон">
               <input type="text" id="model" name="model" placeholder="Марка и модель">
               <label for="year">Год: </label>
               <select id="year" name="year">
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                  <option value="2012">2012</option>
                  <option value="2011">2011</option>
                  <option value="2010">2010</option>
                  <option value="2009">2009</option>
                  <option value="2008">2008</option>
                  <option value="2007">2007</option>
                  <option value="2006">2006</option>
                  <option value="2005">2005</option>
                  <option value="2004">2004</option>
                  <option value="2003">2003</option>
                  <option value="2002">2002</option>
                  <option value="2001">2001</option>
                  <option value="2000">2000</option>
                  <option value="1999">1999</option>
                  <option value="1998">1998</option>
                  <option value="1997">1997</option>
                  <option value="1996">1996</option>
                  <option value="1995">1995</option>
               </select>
               <input type="text" id="vin" name="vin" placeholder="VIN код">
               <input type="text" name="descContact" placeholder="Примечание">

               <button id="btn-save-new-contact">Сохранить</button>
            </form>
         </div>
      </div>
   </div>
   <!--модальное окна выбора маки и модели -->
   <div id="popup-model" class="popup hide-popup modal-body">
      <div class="container-fluid">
         <div class="popup-content">
            <div class="popup-header">
               <h3 class="modal-h3"> Модальное окно с марками</h3>
               <span class="close modal-close"> &times;</span>
            </div>
            <div class="row-modal-model">
               <ul class="mmenuu">
                  <li class="select-model" id="audi" data-model="Audi">Audi
                     <ul class="ssubmenuu">
                        <li class="select-model" id="audi-80-b3" data-model="Audi 80 1986-1991">80 (B3) 1986-1991</li>
                        <li class="select-model" id="audi-80-b4" data-model="Audi 80 1991-1996">80 (B4) 1991-1996</li>
                        <li class="select-model" id="audi-90-b3" data-model="Audi 90 1987-1991">90 (B3) 1987-1991</li>
                        <li class="select-model" id="audi-90-b4" data-model="Audi 90">90 (B4) 1992-1995</li>
                        <li class="select-model" id="audi-100-c3" data-model="Audi 100 C3">100 (C3) 1988-1991</li>
                        <li class="select-model" id="audi-100-c4" data-model="Audi 100 C4">100 (C4) 1990-1994</li>
                        <li class="select-model" id="audi-a3" data-model="Audi A3">A1 I (8X) 2010-2015</li>
                        <li class="select-model" id="audi-a3" data-model="Audi A3">A1 I (8X) Рестайл 2014-2018</li>
                        <li class="select-model" id="audi-a3" data-model="Audi A3">A3 I (8L) 1996-2000</li>
                        <li class="select-model" id="audi-a3" data-model="Audi A3">A3 I (8L) Рестайл 2000-2003</li>
                        <li class="select-model" id="audi-a3" data-model="Audi A3">A3 II (8P) 2003-2005</li>
                        <li class="select-model" id="audi-a3" data-model="Audi A3">A3 II (8P) Рестайл 1 2004-2008</li>
                        <li class="select-model" id="audi-a3" data-model="Audi A3">A3 II (8З) Рестайл 2 2008-2013 </li>
                        <li class="select-model" id="audi-a3" data-model="Audi A3">A3 III (8V) 2012-2016 </li>
                        <li class="select-model" id="audi-a4-b5" data-model="Audi A4 B5">A4 (B5) 1994-1999</li>
                        <li class="select-model" id="audi-a4-b5r" data-model="Audi A4 1999-2001">A4 (B5) Рестайл 1999-2001</li>
                        <li class="select-model" id="audi-a4-b6" data-model="Audi A4 B6">A4 (B6) 2000-2006</li>
                        <li class="select-model" id="audi-a4-b7" data-model="Audi A4 B7">A4 (B7) 2004-2009</li>
                        <li class="select-model" id="audi-a4-b8" data-model="Audi A4 B8">A4 (B8) 2007-2011</li>
                        <li class="select-model" id="audi-a4-b8r" data-model="Audi A4 B8R">A4 (B8) Рестайл 2011-2015</li>
                        <li class="select-model" id="audi-a4-b9" data-model="Audi A4 B9">A4 (B9) 2015-2019</li>
                        <li class="select-model" id="audi-a5-8t" data-model="Audi A5 8T">A5 I (8T) 2007-2011</li>
                        <li class="select-model" id="audi-a5-8tr" data-model="Audi A5 8TR">A5 I (8T) Рестайл 2011-2016</li>
                        <li class="select-model" id="audi-a5-8f" data-model="Audi A5 8F">A5 II (8T) 2016-2019</li>
                        <li class="select-model" id="audi-a6-c4" data-model="Audi A6 C4">A6 I (C4) 1994-1997</li>
                        <li class="select-model" id="audi-a6-c5" data-model="Audi A6 C5">A6 II (C5) 1997-2001</li>
                        <li class="select-model" id="audi-a6-c5r" data-model="Audi A6 C5R">A6 II (C5) Рестайл 2001-2004</li>
                        <li class="select-model" id="audi-a6-c4" data-model="Audi A6 C6">A6 I (C4) 1994-1997</li>
                        <li class="select-model" id="audi-q5" data-model="Audi Q5">Q5</li>
                     </ul>
                  </li>
               </ul>
               <ul class="mmenuu">
                  <li class="select-model" id="bmw" data-model="BMW">BMW
                     <ul class="ssubmenuu">
                        <li class="select-model" id="bmw-1" data-model="BMW 1">1</li>
                        <li class="select-model" id="bmw-3" data-model="BMW 3">3</li>
                        <li class="select-model" id="bmw-5" data-model="BMW 5">5</li>
                        <li class="select-model" id="bmw-7" data-model="BMW 7">7</li>
                        <li class="select-model" id="bmw-x1" data-model="BMW X1">X1</li>
                        <li class="select-model" id="bmw-x3" data-model="BMW X3">X3</li>
                        <li class="select-model" id="bmw-x5" data-model="BMW X5">X5</li>
                     </ul>
                  </li>
               </ul>
               <ul class="mmenuu">
                  <li class="select-model" id="chevrolet" data-model="Chevrolet">Chevrolet
                     <ul class="ssubmenuu">
                        <li class="select-model" id="aveo" data-model="Chevrolet Aveo">Aveo</li>
                        <li class="select-model" id="captiva" data-model="Chevrolet Captiva">Captiva</li>
                        <li class="select-model" id="cruze" data-model="Chevrolet Cruze">Cruze</li>
                        <li class="select-model" id="lacetti" data-model="Chevrolet Lacetti">Lacetti</li>
                        <li class="select-model" id="lanos" data-model="Chevrolet Lanos">Lanos</li>
                        <li class="select-model" id="bmw-x3" data-model="Chevrolet Niva">Niva</li>
                        <li class="select-model" id="bmw-x5" data-model="Chevrolet Orlando">Orlando</li>
                        <li class="select-model" id="bmw-x5" data-model="Chevrolet Tahoe">Tahoe</li>
                     </ul>
                  </li>
               </ul>
               <ul class="mmenuu">
                  <li class="select-model" id="citroen" data-model="Citroen">Citroen
                     <ul class="ssubmenuu">
                        <li class="select-model" id="berlingo" data-model="Citroen Berlingo">Berlingo</li>
                        <li class="select-model" id="c-crosser" data-model="Citroen C-Crosser">C-Crosser</li>
                        <li class="select-model" id="c3" data-model="Citroen C3">C3</li>
                        <li class="select-model" id="c3-picasso" data-model="Citroen C3 Picasso">C3 Picasso</li>
                        <li class="select-model" id="c4" data-model="Citroen C4">C4</li>
                        <li class="select-model" id="c4-picasso" data-model="Citroen C4 Picasso">C4 Picasso</li>
                        <li class="select-model" id="c5" data-model="Citroen C5">C5</li>
                        <li class="select-model" id="c5-aircross" data-model="Citroen C5 Aircross">C5 Aircross</li>
                     </ul>
                  </li>
               </ul>
               <ul class="mmenuu">
                  <li class="select-model" id="ford" data-model="Ford">Ford
                     <ul class="ssubmenuu">
                        <li class="select-model" id="c-max" data-model="Ford C-Max">C-Max</li>
                        <li class="select-model" id="ecosport" data-model="Ford EcoSport">EcoSport</li>
                        <li class="select-model" id="escape" data-model="Ford Escape">Escape</li>
                        <li class="select-model" id="explorer" data-model="Ford Explorer">Explorer</li>
                        <li class="select-model" id="fiesta" data-model="Ford Fiesta">Fiesta</li>
                        <li class="select-model" id="focus" data-model="Ford Focus">Focus</li>
                        <li class="select-model" id="fusion" data-model="Ford Fusion">Fusion</li>
                        <li class="select-model" id="galaxy" data-model="Ford Galaxy">Galaxy</li>
                        <li class="select-model" id="mondeo" data-model="Ford Mondeo">Mondeo</li>
                        <li class="select-model" id="s-max" data-model="Ford S-Max">S-Max</li>
                     </ul>
                  </li>
               </ul>
               <ul class="mmenuu">
                  <li class="select-model" id="honda" data-model="Honda">Honda
                     <ul class="ssubmenuu">
                        <li class="select-model" id="accord" data-model="Honda Accord">Accord</li>
                        <li class="select-model" id="civic" data-model="Honda Civic">Civic</li>
                        <li class="select-model" id="crv" data-model="Honda CR-V">CR-V</li>
                        <li class="select-model" id="crosstour" data-model="Honda Crosstour">Crosstour</li>
                        <li class="select-model" id="fit" data-model="Honda Fit">Fit</li>
                        <li class="select-model" id="hrv" data-model="Honda HR-V">HR-V</li>
                        <li class="select-model" id="jazz" data-model="Honda Jazz">Jazz</li>
                        <li class="select-model" id="pilot" data-model="Honda Pilot">Pilot</li>
                        <li class="select-model" id="stepwgn" data-model="Honda Stepwgn">Stepwgn</li>
                     </ul>
                  </li>
               </ul>

            </div>
         </div>
      </div>
   </div>
   <!--END модальное окна выбора маки и модели -->
</div>