<h1>Список заказов пользователя системы</h1>
<div>
  <table class="table table-hover table-sm">
    <tr>
      <th>Дата</th>
      <th>Примечание</th>
      <th>Клиент</th>
      <th>Детали заказа</th>
      <th>Изменить</th>

    </tr>
    {{#each orders}}
    <tr id="contact-tr" class="row-list">
      <td><span class="date">{{created}}</span></td>
      <td><span class="date">{{desc}}</span></td>
      <td><span class="id-contact">{{idContact}}</span></td>
      <td>
        {{# each parts}}
        <div class="parts">{{partname}} {{selectside}} {{selectplace}} {{CountPart}}
          <span>
            <ol>
              {{# each variant}}
              <li>{{number}} {{manufacturer}} {{ provider}} {{purchaseprice}}{{sellingprice}}</li>
              {{/each}}
            </ol>
          </span>
        </div>
        {{/each}}
      </td>
       <td><span>{{status}}</span></td>
         <td><span>{{state}}</span></td>
         <td><span><a href="/orders/{{id}}/edit?allow=true">Изменить</a></span></td>
    </tr>
    {{/each}}

  </table>
</div>