<h2>Список заказов пользователя системы</h2>
<div>
  <table class="table table-hover tb-style table-bordered">
    <tr>
      <th>Дата</th>
      <th>Примечание</th>
      <th>Клиент</th>
      <th>Детали заказа</th>
      <th>Статус</th>
      <th>Состояние</th>
      <th>Изменить</th>

    </tr>
    {{#each orders}}
    <tr id="contact-tr" class="row-list">
      <td><span class="date">{{created}}</span></td>
      <td><span class="desc">{{desc}}</span></td>
      <td><span class="id-contact">{{idContact}}</span></td>
      <td>
        {{# each parts}}
        <div class="parts">{{partname}} {{selectside}} {{selectplace}} {{countpart}}
          <span>
            <ol>
              {{# each variant}}
              <li>{{number}} {{manufacturer}} {{ provider}} {{purchaseprice}}{{sellingprice}}</li>
              {{/each}}
            </ol>
          </span>
        </div>
        {{/each}}
      </td>
      <td><span><select name="status" data-id="{{id}}">
            <option value="{{status}}">{{status}}</option>
            <option value="Черновик">Черновик</option>
            <option value="В работе">В работе</option>
            <option value="Архив">Архив</option>
          </select></span></td>
      <td><span><select name="state" data-id="{{id}}">
            <option value="{{state}}">{{state}}</option>
            <option value="получена заявка">получена заявка</option>
            <option value="подготовить варианты">подготовить варианты</option>
            <option value="отправить черновик">отправить черновик</option>
            <option value="связаться для согласования">связаться для согласования</option>
            <option value="не отвечает связаться повторно">не отвечает связаться повторно</option>
            <option value="принимает решение">принимает решение</option>
            <option value="окончательное согласование">окончательное согласование</option>
            <option value="успешный заказ">успешный заказ</option>
            <option value="отказ">отказ</option>
          </select></span></td>
      <td><span><a href="/orders/{{id}}/edit?allow=true">Изменить</a></span></td>
    </tr>
    {{/each}}

  </table>
</div>